.screenmiddle{
    position: absolute;
    top: 250px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.getdown{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.floaticon{
    float: left;
}