.screenmiddle{
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.getdown{
    margin-top: 25px;
    margin-bottom: 80px;
}

.setmargin{
    margin-bottom: 35px;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}